name: Build Debian Package

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-slim

    steps:
      - uses: actions/checkout@v4

      - name: Install Libs
        run: sudo apt-get update && sudo apt-get install -y build-essential dpkg-dev

      - name: Build Debian Package
        run: |
          make 
          make deb
          ls -R

      - name: Upload Debian Package
        uses: actions/upload-artifact@v6
        with:
           name: hello-world-c-$(uname -m).deb
           path: "*.deb"
